In [74]:

print ("Hello World")

name = "Plenoi"
print("Hello "+name+" !")


country = input("Where are you from = ")

print("I am from " + country)

age = input("What is your age = ")

print("I am "+age+" !!")

# Ex. 1, How to fix this syntax error
 #  tenyears_age = age + 10              #cuz age is string , must convert into int
age = int(age)
tenyears_age = age + 10;
print(tenyears_age)

Hello World
Hello Plenoi !
Where are you from = 20
I am from 20
What is your age = 20
I am 20 !!
30

In [75]:
pi = 3.14
#Ex. 2, How to fix this syntax error , *Pi is a float number , must change in to string first or use format
pi = str(pi)
print("The pi is equal to " + pi) #

The pi is equal to 3.14

In [76]:
#Ex. 3, How to fix this runtime error
a = input("What is your A = ") 
b = input("What is your B = ")
a = int(a)
b = int(b)
 #same as ex2
c = a+b
print(c)

What is your A = 10
What is your B = 20
30

In [77]:
#ex4
my_string = "Hello World"
my_string.split()

['Hello', 'World']

In [78]:
#ex5
L = [[1,2,3],
     [4,5,6],
     [7,8,9]]

L.sort(reverse=1)

print(L)

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [79]:
#ex6
course = {
  "954340": "Enterprise Database",
  "954471": "Business Data Mining",
  "954472": "Business Data Visualization"
}
course["954499"] = "Independent Study"


sorted(course.values())

['Business Data Mining',
 'Business Data Visualization',
 'Enterprise Database',
 'Independent Study']

In [80]:
#assignment 1
n = input("n = ")
n = int(n)
print(n)
for i in range(1,n+1):
    print('x'*i)

n = 5
5
x
xx
xxx
xxxx
xxxxx

In [83]:
#assignment2
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
odds = [];
even = [];

for number in numbers:
    if(number %2 == 0):
        even.append(number)
    else:odds.append(number)
    
print("Number of even numbers : " + str(len(even)))
print("Number of even numbers : " + str(len(odds)))

Number of even numbers : 4
Number of even numbers : 5